In [ ]:
import pandas as pd
df = pd.read_csv("D:/New folder/Kvun/pandas/nilai_uas.csv")

In [14]:
print(len(df.index))

3562

In [17]:
print(df[:10])

                  nama fakultas  nilai_kal  nilai_fis  nilai_kim
0         Raihan Daris       SF      60.27      65.59      51.70
1           Galuh Wina     STEI      52.99      55.25      66.31
2         Johannes Sun    FMIPA      51.20      51.30      84.70
3  Abdurrahman WIlliam     FTSL      31.17      36.88      50.25
4         Rayhan Faris     STEI      55.55      57.61      67.46
5  Margareth Widyatama     FTTM      42.78      50.23      71.17
6      Christofer Jaza     FTSL      31.64      38.03      34.99
7         Wafika Nadia       SF      60.96      57.54      76.03
8  Elizabeth Parikesit     STEI      54.35      55.30      59.15
9         Halida Aqila    SITHR      63.71      67.23      63.76

In [18]:
print(df[50:60])

                 nama fakultas  nilai_kal  nilai_fis  nilai_kim
50     Ulul Mochammad     FTTM      38.75      44.24      40.11
51      George Vrince     FITB      44.02      45.15      41.76
52       Fayza Eunike     STEI      55.28      59.47      49.29
53      Kevin Faustin    SAPPK      47.72      49.65      52.76
54      salah Siagian    SAPPK      47.14      51.26      46.77
55      Nabilah Satya       SF      61.26      63.96      57.19
56   Tharisa Ghiffari     FSRD      74.14      78.86      54.59
57     Setyawan Ahmad     FSRD      75.18      78.33      51.35
58  Kelvin Salsabiela     FTTM      39.69      40.92      51.15
59      Sitorus Aidil     FTMD      58.49      55.54      55.20

In [26]:
df.groupby('fakultas').count()['nama']

fakultas
FITB     283
FMIPA    396
FSRD     260
FTMD     352
FTSL     424
FTTM     454
SAPPK    198
SBM      261
SF       154
SITHR    179
SITHS    102
STEI     499
Name: nama, dtype: int64